body {
    font-family: Verdana, Helvetica, Arial;
    color: gray;
    background: whitesmoke;
}
table, th, td {
    border-collapse: collapse;
    border: 1px dotted;
}
table {
    border-color: darkgray;
    height: 850px; /* infosize.height */
}
.tr-img {
    height: 300px;
}
th, td {
    text-align: left;
    vertical-align: top;
    padding: 2px;
    font-size: 13px;
}
th {
    border-color: lightgray;
    width: 130px;
    color: whitesmoke;
    background: darkgray;
}
td {
    border-color: darkgray;
    width: 170px;
    color: darkslategray;
}
g.tick text { font-size: 14px; } /* d3 axis tick */
.title {
    margin-top: 25px;
    margin-left: 50px;
}
#wrapper {
    display: flex;
}
#right {
    margin-left: 25px;
}
.circle-shape {
    fill: gainsboro;
    stroke: darkgray;
    opacity: 0.6;
}
.circle-line, .circle-line-dash {
    stroke: gray;
}
.circle-line-dash {
    stroke-dasharray: 2 2;
}
.circle-text {
    font-size: 12px;
    text-anchor: middle;
}
.info {
    background-color: lightgray;
    opacity: 1;
}
.img {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
.rect-all, .rect-nav, .rect-text {
    stroke: white;
    cursor: pointer;
}
.rect-all {
    fill: dimgray;
}
.rect-nav {
    fill: darkgray;
}
.rect-text {
    fill: lightgray;
}

.slide-all, .slide-nav, .slide-text {
    text-anchor: middle;
    cursor: pointer;
}
.slide-all {
    fill: whitesmoke;
}
.slide-nav {
    fill: whitesmoke;
}
.slide-text {
    fill: slategray;
}

.year {
    text-anchor: middle;
    fill: orangered;
}

.track-line {
    stroke: gray;
    stroke-width: 10px;
    stroke-linecap: square;
    stroke-opacity: 0.5;
}

.handle {
    fill: lightslategray;
    stroke: darkslategray;
    stroke-width: 2px;
    opacity: 0.5;
    cursor: pointer;
}
.checkbox, .checkbox-multi, .genre, .genre-multi {
    stroke: gray;
    stroke-width: 1px;
    color: darkgray;
    font-size: 11px;
    text-anchor: start;
}
.checkbox, .genre {
    opacity: 0.8;
    cursor: pointer;
}
.checkbox-multi, .genre-multi {
    opacity: 1;
}
.checkmark {
    stroke: darkslategray;
    stroke-width: 2px;
    fill: none;
}
.bubble, .bubble-bk {
    stroke: white;
    stroke-width: 1px;
    opacity: 0.6;
}
.bubble-bg {
    fill: whitesmoke;
    stroke: orangered;
    stroke-width: 3px;
    opacity: 0;
}
.button {
    border-color: slategray;
    border-width: 2px;
    opacity: 0.8;
    cursor: pointer;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 80px;
    padding: 4px;
    color: white;
    background: lightslategray;
    opacity: 0.8;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}